.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.modal-body {
  padding: 2rem;
  background: #fff;
  border-radius: 5px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.openModalButton {
  margin-bottom: 1rem;
  margin-left: 0;
}
.modal-item {
  margin-bottom: 2rem;
}
